
@{
    ViewData["Title"] = "Index";
}

<h1>Calc service demonstration</h1>
<ul style="font-size: 16px; border: 2px solid blue; max-width: 350px;">
    <li>@Html.ActionLink("Using Model", "PassUsingModel")</li>
    <li>@Html.ActionLink("Using ViewData", "PassUsingViewData")</li>
    <li>@Html.ActionLink("Using ViewBag", "PassUsingViewBag")</li>
    <li>@Html.ActionLink("Using Service injection", "PassUsingService")</li>
</ul>

